<%
	objTri = {
		"_id" : 'asc',
		"nom" : 'asc',
		"prenom" : 'asc',
		"telephone" : 'asc',
		"courriel" : 'asc'
	}

	if (typeof clef !== 'undefined') {
		objTri[clef] = ordre
	}
%>
<table class="tableau">
	<% let noLigne = 0 %>

	<% for(elm of adresses) {%>
		<% if (noLigne==0) { %>
			<tr>
				<% noLigne++ %>
				<td><a href = "/trier/nom/<%= objTri.nom %>">Nom</a></td>
				<td><a href = "/trier/prenom/<%= objTri.prenom %>">Prenom</a></td>
				<td><a href = "/trier/telephone/<%= objTri.telephone %>">Telephone</a></td>
				<td><a href = "/trier/courriel/<%= objTri.courriel %>">Courriel</a></td>
				<td><a href="/formulaire">Ajouter</a></td>
			</tr>
		<% } %>

		<tr>
			
			<td contenteditable="true" class="info"><%= elm.nom %></td>
			<td contenteditable="true" class="info"><%= elm.prenom %></td>
			<td contenteditable="true" class="info"><%= elm.telephone %></td>
			<td contenteditable="true" class="info"><%= elm.courriel %></td>
			
			<td><a id="save"><i class="far fa-save"></i></a></td>
			<td><a href="/detruire/<%= elm._id %>"><i class="far fa-trash-alt"></i></a></td>
		</tr>
		<% } %>

		<% if (adresses.length <= 0) { %>
			<tr>
				<td>
					<p>Voulez-vous ajouter un nouveau membre?</p>
				</td>
				<td>
					<a href="/formulaire">Ajouter</a>
				</td>
			</tr>
		<% } %>
</table>