<%
	objTri = {
		"_id" : 'asc',
		"nom" : 'asc',
		"prenom" : 'asc',
		"telephone" : 'asc',
		"courriel" : 'asc'
	}

	if (typeof clef !== 'undefined') {
		objTri[clef] = ordre
	}
%>
<table class="tableau">
	<% let noLigne = 0 %>

	<% for(elm of adresses) {%>
		<% if (noLigne==0) { %>
			<tr>
				<% noLigne++ %>
				<td><a href = "/trier/_id/<%= objTri._id %>">ID</a></td>
				<td><a href = "/trier/nom/<%= objTri.nom %>">NOM</a></td>
				<td><a href = "/trier/prenom/<%= objTri.prenom %>">PRENOM</a></td>
				<td><a href = "/trier/telephone/<%= objTri.telephone %>">TELEPHONE</a></td>
				<td><a href = "/trier/courriel/<%= objTri.courriel %>">COURRIEL</a></td>
				<td><a href="/formulaire">Ajouter</a></td>
			</tr>
		<% } %>

		<tr>
			<% for(elem in elm) {%>
				<td><%= elm[elem] %></td>
			<%}%>
			<td><a><i class="far fa-save"></i></a></td>
			<td><a href="/detruire/<%= elm._id %>"><i class="far fa-trash-alt"></i></a></td>
		</tr>
		<% } %>

		<% if (adresses.length <= 0) { %>
			<tr>
				<td>
					<p>Voulez-vous ajouter un nouveau membre?</p>
				</td>
				<td>
					<a href="/formulaire">Ajouter</a>
				</td>
			</tr>
		<% } %>
</table>